*{
    padding: 0;
    margin: 0;
}
header{
    height: 100px;
    width: 100%;
    background-image:linear-gradient(to right, rgba(185, 46, 139, 0.568),rgb(218, 96, 181));
}
header a{
    color: color: webkit-link;;
}
#box{
    width: 30%;
    height: 100%;
    float: right;
    background-color: rgb(218, 213, 218);
}

#img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#left{
    float: left;
    line-height: 100px;
    padding: 0 15px;
}
nav{
    width: 70%;
    text-align: center;

}
     nav ul{
         padding: 0;
         margin: 0;
         list-style-type: none;

     }
     nav li{
         float: left;
         text-align: center;
     }
     nav li a {
         display: inline-block;
         color: white;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         line-height: 4;
         margin: auto; 
         font-family: 'El Messiri', sans-serif;

     }
     nav li a:hover {
         color: white;
         background-color: thistle;
     }
     #serom{
        background-color: white;
        position: absolute;
        z-index: 1;
        display: none;
        width: 132.39px;
     }
     #serom a{
color:black;
display: block;
font-family: 'El Messiri', sans-serif;
font-size: small;
justify-content: center;
     }
     #go:hover #serom {
        display: block;
    }
     #qo{
        background-color: white;
        position: absolute;
        z-index: 1;
        display: none;
        width: 123.58px;
     }
     #qo a{
        color:black;
        display: block;
        font-family: 'El Messiri', sans-serif;
       font-size: small;
        justify-content: center;
        
     } 
     #qi:hover #qo{
         display: block;
     }
#soup{
    background-color: white;
    position: absolute;
    z-index: 1;
    display: none;
    width: 130.3px;
    font-family: 'El Messiri', sans-serif;
}
#soup a{
    color:black;
display: block;
font-family: 'El Messiri', sans-serif;
       font-size: small;
}
#sp:hover #soup{
    display: block;
}
    main{
        width: 100%;
        height: 450px;
        background-color: rgb(196, 79, 118);
        border-top: 3px solid white;
        animation: changebackground 5s infinite;
    }

    aside{
        width: 30%;
        height: 100%;
        background-color: rgba(247, 185, 224, 0.568);
        text-align: center;
 
    }
    aside img{
        width: 90%;
       
    }
   #h1{
       padding: 20px 0;
       border-bottom: 2px solid rgb(196, 79, 118);
   }
   #icons{
       width: 100%;
       display: flex;
       justify-content: center;
       margin-top: 15px;

   }
   #icons img{
       width: 45px;
       border-bottom: 2px solid rgb(196, 79, 118);
       padding-bottom: 10px;
       padding-right: 3px;
       padding-left: 3px;
   }
   #icons img:hover{
       width: 55px;
       border-bottom: 2px solid black;

   }
    #article{
        width: 70%;
        height: 50px;
        float: right;
        position: relative;
        line-height: 45px;
    }
    #main{
        text-align:center;
        padding: 15px;
         width: 400px;
         height: 180px;
         position: absolute;
         background-color: rgba(241, 79, 174, 0.568);
         top: -370%;
         left: 50%;
         transform: translate(-50%,-50%);
 
    }
    #main h1{
        border-bottom: 3px solid rgb(214, 140, 192);
        padding: 15px 0;
    }
    #main p{
        font-family: 'El Messiri', sans-serif;
        text-align: justify;
    }
    #footer{
        border-top: 3px solid white;
        height: 100px;
        width: 100%;
        background-color:rgba(107, 96, 103, 0.568)
    }

    marquee{
        width: 100%;
        font-family: 'El Messiri', sans-serif;
        line-height: 20px;
        text-align: center;
    }
    @keyframes changebackground{
        0%{
            background-color: white;
        }
        50%{
            background-color: rgb(214, 140, 192);
        }
        100%{
            background-color:  rgba(58, 2, 39, 0.568);
        }
    }
@media all{

}
@media print{
nav{
    display: none;
}
}
@madia only screen and (mon-width:940px) and (max-width:1070px){
    #box{
        width:60%;
}
#article{
    width:65%;
}
#aside{
    width:35%;
}
@media only screen and (max-width:940px) and(min-width:802px){
    #box{
        width:40%;
    }
}
@media only screen and (max-width:801px) and(min-width:802px){
    header, main{
        hieght:auto;}
    #box{
        width:100%;
        text-align:center;
    }
#left, #img{
    float:none;
}
span a{
    text-decoration:none;
}
nav{
    width:100%;
}
aside{
    width:100%;
}
#article{
    hieght:230px;
    width:100%;
    background-color:  rgba(58, 2, 39, 0.568) ;
}

@media only screen and (max-width:500px) {
    nav li{
        display: block;
        width:100%;
    }
}
@media only screen and (orientation:landscape){
    #box{
        background-color: rgba(58, 2, 39, 0.568);
    }
}
}
